{
  "prettier.jsxBracketSameLine": true,
  "prettier.jsxSingleQuote": true,
  "prettier.singleQuote": true,
  "prettier.semi": false,
  "[json]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  }
}
